Repository fengguangpei/vue-oa-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --fix",
  "*.{vue,css,scss}": "stylelint --fix"
}

lint-staged
  .lintstagedrc.json
  src/views/Frame.vue
Due: eslint --fix, stylelint --fix

lint-staged
  src/views/Frame.vue
Due: eslint --fix, stylelint --fix

lint-staged1
  package.json
Due: none

lint-staged1
  .lintstagedrc.json
  src/views/car/CarManage.vue
Due: eslint --fix, stylelint --fix

lint-staged1
  .lintstagedrc.json
Due: none

update
  .husky/pre-commit
  src/views/car/CarManage.vue
Due: eslint --fix, stylelint --fix

update: 微应用配置
  .babelrc.js
  config/webpack.config.base.ts
  src/components/StepBar.vue
  src/hooks/useRefresh.ts
  src/main.ts
  src/public-path.js
  src/router/index.ts
  src/webpack-env.d.ts
Due: eslint --fix, stylelint --fix

微前端优化
  src/components/RefreshPage.vue
  src/hooks/useRefresh.ts
  src/main.ts
  src/router/index.ts
  src/views/Home.vue
Due: eslint --fix, stylelint --fix

优化路由刷新
  src/hooks/useRefresh.ts
Due: eslint --fix

vendor
  .eslintrc.js
  config/webpack.config.base.ts
  config/webpack.config.dev.ts
  config/webpack.config.prod.ts
  config/webpack.config.vendor.js
  package-lock.json
  package.json
  src/main.ts
  src/public-path.ts
  src/views/car/CarManage.vue
  src/webpack-env.d.ts
  vendor/vendor.dll.js
  vendor/vendor.dll.js.LICENSE.txt
  vendor/vendor_manifest.json
Due: eslint --fix, stylelint --fix

update123
  .babelrc.js
  config/webpack.config.base.ts
  config/webpack.config.prod.ts
  package-lock.json
  package.json
  src/main.ts
  src/webpack-env.d.ts
Due: eslint --fix

feat: 路由
  src/main.ts
  src/router/index.ts
  src/views/car/CarManage.vue
  src/views/car/RequestReview.vue
Due: eslint --fix, stylelint --fix

update: 路由
  src/router/index.ts
Due: eslint --fix

update: ts
  auto-imports.d.ts
  components.d.ts
  package.json
  src/global.d.ts
  src/main.ts
  src/public-path.js
  src/router/index.ts
  src/views/car/RequestReview.vue
  src/vue-shime.d.ts
  src/webpack-env.d.ts
  tsconfig.json
Due: eslint --fix, stylelint --fix

update: externals
  auto-imports.d.ts
  components.d.ts
  config/webpack.config.base.ts
  package-lock.json
  package.json
  src/index.html
  src/router/index.ts
Due: eslint --fix

update package
  config/webpack.config.base.ts
  package-lock.json
  package.json
  src/main.ts
  src/views/car/CarLog.vue
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix

jenkins config
  .gitignore
  .pnp.cjs
  .pnp.loader.mjs
  .vscode/extensions.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  Jenkinsfile
  apollo.config.js
  components.d.ts
  config/webpack.config.base.ts
  config/webpack.config.prod.ts
  package.json
  src/components/CustomColumns.vue
  src/graphql/index.ts
  src/index.html
  src/main.ts
  src/views/car/CarLog.vue
  src/views/car/CarManage.vue
  yarn.lock
Due: eslint --fix, stylelint --fix

update node version
  Jenkinsfile
Due: none

update command
  Jenkinsfile
Due: none

111
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  Jenkinsfile
  package.json
  yarn.lock
Due: eslint --fix

delete yarn
  .yarnrc.yml
Due: none

11
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  config/webpack.config.prod.ts
  package.json
  postcss.config.js
  yarn.lock
Due: eslint --fix

222
  yarn.lock
Due: none

333
  .pnp.cjs
  .pnp.loader.mjs
  package.json
  yarn.lock
Due: none
